body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 200px;
    background-color: rgb(194, 198, 195);
}

#start-container {
    display: flexbox;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    background-color: rgb(245, 241, 241);
    border-radius: 20px;
    box-shadow: 0 0 20px black(0, 0,0, 0.2);
}
#quiz-container {
    display: none;
}
  
#question-container {
    display: flexbox;
    width: 50%;
    font-size: 25px;
    text-align: center;
    background-color: rgb(245, 241, 241);
    padding: 100px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 20px black(0, 0,0, 0.2);
}

#choices {
    text-align: center;
    font-size: 20px;
    text-decoration: underline ;
    text-decoration-color: darkcyan;
    padding: 0;
}
  
#choices li {
    margin: 20px 0;
    border: none;
    cursor: pointer;
}
  
#game-over-container {
    display: none;
    width: 50%;
    font-size: 25px;
    text-align: center;
    background-color: rgb(245, 241, 241);
    padding: 100px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 20px black(0, 0,0, 0.2);
    text-align: center;
    padding: 20px;
}
  
button {
    padding: 20px 40px;
    font-size: 20px;
    background-color: mediumspringgreen;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
#highscores {
    display: flex;
    position: absolute;
    top: 10px;
    left: 5px;
    
}
#timer-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 20px;
}
button:hover {
    background-color: darkcyan ;
}
@media screen and (max-width:992px) {
    
}



    

